/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.App {
  text-align: center;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
} */

body {
  /* margin: 0%;
  padding: 0%; */
  /* overflow: hidden; */
  width: 100vw;
  height: 100vh;
  background-color: #fce043;
  background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
}

.joinChatContainer {
  /* 3d effect on container card */
  perspective: 1000px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  width: 40%;
  display: flex;
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* border of widht 2px black color */
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 2 rem;
}
.joinchatc {
  text-align: center;
  height: auto;
}

.joinChatContainer input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 210px;
  height: 60px;
  margin: 20px;
  border: 2px solid #43a047;
  border-radius: 60px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

.joinChatContainer button {
  width: 225px;
  height: 80px;
  margin: 7px;
  border: none;
  border-radius: 60px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#createroombutton {
  position: relative;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  padding-top: 0%;
  height: 50%;
}
.chat-window {
  width: 25vw;
  height: 800px;
}

.chat-window p {
  margin: 0;
}

.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background-color: #fc5296;
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  position: relative;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 500;
  line-height: 45px;
}

.chat-window .chat-body {
  height: 55vh;
  border: 1px solid #263238;
  background: #f0f0f0;
  border-radius: 6px;
  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f0f0f0;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 220px;
  background-color: cornflowerblue;
  border-radius: 5px;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: center;
}

#you .message-meta {
  justify-content: end;
  margin-right: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: center;
  background-color: #f0f0f0;
}

#other .message-meta {
  justify-content: flex-end;
  /* margin-right: 5px; */
}

#admin {
  text-align: center;
  justify-content: center;
  font-size: 14px;
}

#admin .message-content {
  justify-content: flex-end;
  background-color: yellowgreen;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 300px;
}

#admin .message-meta {
  justify-content: center;
  /* display: none; */
}
#admin .message-meta #author {
  justify-content: flex-end;
  display: none;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: normal;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
  border-radius: 6px;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  background-color: #f0f0f0;
  border-right: 1px dotted #607d8b;
  border-radius: 6px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background-color: #fc5296;
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  outline: none;
  font-size: 25px;
  color: white;
}

.chat-window .chat-footer button:hover {
  color: #f0f0f0;
}

.hide {
  opacity: 0 !important;
}

.submitButton {
  margin: 30px;
  font-size: 2vh;
  padding: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
  background-color: #fc5296;
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  cursor: pointer;
  color: black;
}

.urlInputBox {
  padding: 15px;
  margin-top: 30px;
  margin-right: 0px;
  height: 2vh;
  width: 40vw;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 2px solid gray;
  font-size: 20px;
  text-align: center;
}

.nav {
  position: absolute;
  top: 13vh;
  left: 0;
  bottom: 20vh;
  width: 100px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fc90b0;
}

.nav ul {
  margin-top: 100px;
}

.nav ul li {
  list-style: none;
}

.nav ul li img {
  width: 40px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.5s;
  opacity: 0.5;
  border-radius: 10px;
}

.nav ul li img:hover {
  opacity: 1;
  background: #fa6aa4;
}

.row {
  margin-left: 5vw;
  margin-top: 10vh;
  margin-right: 3vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.col1 {
  flex-basis: 65%;
  margin-left: 10vw;
}

.col2 {
  flex-basis: 33%;
}

.copy-btn {
  background-color: transparent;
  border: transparent;
  color: white;
  font-weight: 600;
}
